{% extends 'base.html' %}
{% block body %}

<h3 class="text-center mb-3">Company Detail</h3>

<div class="card shadow mb-2">
  <div class="card-body">
    <h5 class="card-title text-center text-capitalize">{{object.company.company_name}}</h5>
    <p class="card-text">
      <b>CR12: </b><a href="{{object.cr12.url}}">{{object.cr12}}</a>
    </p>
    <p class="card-text">
      <b>Incorporation Certificate: </b><a href="{{object.incorporation_certificate.url}}">{{object.incorporation_certificate}}</a>
    </p>
    <p class="card-text">
      <b>AGPO Certificate: </b><a href="{{object.agpo_certificate.url}}">{{object.agpo_certificate}}</a>
    </p>
    <p class="card-text">
      <b>Pin Certificate: </b><a href="{{object.pin_certificate.url}}">{{object.pin_certificate}}</a>
    </p>
    <p class="card-text">
      <b>Tax Compliance Certificate: </b><a href="{{object.tax_complaince_certificate.url}}">{{object.tax_complaince_certificate}}</a>
    </p>
    <p class="card-text">
        <small class="text-muted text-capitalize"><b>Approval Status: </b>
          {% if company.approved %} 
          approved
          {% else %} 
          pending
          {% endif %}
      </small>
      </p>
    <p class="card-text">
      <small class="text-muted"><b>Submitted Bids: </b>{{object.applications.count}}</small>
    </p>
    <p class="card-text">
      <small class="text-muted"><b>Awarded Tenders: </b>{{object.won_tenders.count}}</small>
    </p>
  </div>
</div>

{% endblock body %}