{% extends 'base.html' %}
{% block body %}



<div class="card shadow mb-2">
    <div class="card-body">
        <div class="mx-auto col-sm-8">
            <h5 class="text-center card-title mt-3">Pasword Changed Successfully!</h5>
        </div>
    </div>
    <div class="card-footer">
        <div class="col d-flex justify-content-center">
            <small class="text-muted">
                    <a href="{% url 'login' %}">Login Here</a>
            </small>
        </div>
    </div>
</div>

{% endblock body %}
