{% extends 'base.html' %}
{% block body %}


{% load widget_tweaks %}

<div class="card shadow mb-2">
    <h5 class="text-center card-title mt-3">Reset Your Password</h5>
    <div class="card-body">
        <div class="mx-auto col-sm-8">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <strong class="text-danger text-center"><small>{{ error }}</small></strong>
                    {% endfor %}
                {% endif %}

                <!-- NEW PASSWORD  -->
                <div class="form-group">
                    <label>New Password</label>
                    {% if form.new_password1.errors %}
                            {% for error in form.new_password1.errors %}
                            <small id="emailHelp" class="form-text text-danger mb-2">{{error}}</small>
                            {% endfor %}
                    {% endif %}
                    {{form.new_password1|add_class:"form-control"|attr:"placeholder:New Password"}}
                </div>

                <!--CONFIRM  NEW PASSWORD  -->
                <div class="form-group">
                    <label>Confirm New Password</label>
                    {% if form.new_password2.errors %}
                            {% for error in form.new_password2.errors %}
                            <small id="emailHelp" class="form-text text-danger mb-2">{{error}}</small>
                            {% endfor %}
                    {% endif %}
                    {{form.new_password2|add_class:"form-control"|attr:"placeholder:Confirm New Password"}}
                </div>
                
                <div class="form-group">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-block w-50 btn-primary">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
