{% extends 'base.html' %}
{% block body %}


<h3 class="text-center mb-3">Tender Detail</h3>

<div class="card shadow mb-2">
  <div class="card-body">
    <h5 class="card-title text-center text-capitalize">{{tender.company}}</h5>
    <p class="card-text text-capitalize">
      <b>Desciption: </b>{{tender.description}}
    </p>
    <p class="card-text text-capitalize">
      <b>Documents: </b><a href="{{tender.documents.url}}">{{tender.documents}}</a>
    </p>
    <p class="card-text text-capitalize">
      <small class="text-muted"><b>Bids: </b>{{tender.bids.count}}</small>
    </p>
    <p class="card-text text-capitalize">
      <small class="text-muted"><b>Closing Date: </b>{{tender.closing_date}}</small>
    </p>
  </div>
    {% if request.user.is_authenticated %}
      {% if request.user.company_profile.approved %}
        {% if tender.status == "OPEN" %}
          <div class="card-footer">
              <div class="row mx-auto">
                  <div class="col-sm d-flex justify-content-center">
                      <a href="{% url 'submit_bid' tender.id %}" role="button" class="btn  btn-dark">Bid</a>
                  </div>
              </div>
          </div>
        {% endif %}
      {% endif %}    
    {% endif %}
</div>

{% endblock body %}